.main {
    display: flex;
    flex-direction: column;
    padding: 20px;    
    margin: auto;
    width: 600px;
}

.content {
    width: 600px;
}

.positive {
    color: green;
}

.negative {
    color: red;
}
