<div class="main">
    <div class="title">{{ title}}</div>
    <div class= "content" *ngIf="!apiKey">
        <p>
            <mat-form-field appearance="standard">
                <mat-label>API Key</mat-label>
                <input #apiKey matInput class="api-key-input">
            </mat-form-field>&nbsp;            
            <button mat-button class="primary-button" type="submit" (click)="setApiKey(apiKey.value)">Set API Key</button>
        </p>
        <p>Refer to <a href="https://financialmodelingprep.com/developer/docs/" target="_blank">API documentation</a> to create
            an API key </p>
    </div>
    <div class="content" *ngIf="apiKey">        
        <header>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Stock Symbol</mat-label>
                    <input #stockName matInput placeholder="AAPL" class="symbol-input">
                </mat-form-field>&nbsp;
                <button mat-button class="primary-button" (click)="fetchData(stockName.value)">Enter</button>
            </p>
        </header>
        <mat-card class="example-card" *ngIf="company">
            <mat-card-header>
                <div mat-card-avatar [ngStyle]="{
                'background-image': (company.image) ? 'url(' + company.image + ')' : '',
                'background-size': 'cover'         
            }"></div>
                <mat-card-title>{{ company.symbol }}</mat-card-title>
                <mat-card-subtitle>{{ company.companyName }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h3>Price</h3>
                <p class="price">{{ company.price | currency }}</p>
                <h3>Changes</h3>
                <p [ngClass]="{
                    'positive': company.changes > 0,
                    'negative': company.changes < 0                
                 }" class="changes">{{ company.changes }}</p>
                 <h3>Sector</h3>
                 <p>{{ company.sector}}</p>
                 <h3>CEO</h3>
                 <p>{{ company.ceo}}</p>
                 <h3>Country</h3>
                 <p>{{ company.country}}</p>
                <h3>Website</h3>
                <p><a href="{{ company.website}}" target="_blank"> {{ company.website}} </a> </p>
                <h3> Description </h3>
                <p>
                    {{company.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
